
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
  
  .header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
      width: 100px;
      margin-right: 60px;
      img{
        width: 100%;
      }
    }
    ul{
      display: flex;
      list-style: none;
      li{
        margin-right: 30px;
        a{
          color: #000;
        }
      }
    }
  }
  a{
    display: block;
    text-decoration: none;
  }
}
