body{
  background-color: #f0f0f0;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  .header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
      width: 100px;
      margin-right: 60px;
      margin-left: 90px;
      // margin-left: 90px;

      img{
        width: 100%;
      }
    }
    ul{
      display: flex;
      list-style: none;
      line-height: 1px;
      li{
        margin-right: 30px;
        a{
          color: #000;
        }
      }
    }
  }
  a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: inline-block;
  }
  .contact{
    background-color: black;
    height: 80px;
    width: 200px;
    text-align: center;
    align-items: center;
    a{
      align-items: center;
      line-height: 80px;
      font-size: 12px;
    }
  }
}

#mainvisual{
  img{
    height: calc(100vh - 80px);
    width: 100%;
  }
}
