@use '../foundation' as *;

.btn {
  padding: prem(14) prem(100);
  position: relative;
  display: inline-block;
  font-size: prem(30);
  line-height: 1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid #fff;
  background-color: transparent;
  @include mq("md"){
    font-size: prem(14);
  padding: prem(8) prem(45);
  }
}

.btn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: inline-block;
  border-style: solid;
  // border-width: prem(14) 0 prem(14) prem(14);
  border-color: transparent transparent transparent #fff;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 14px solid #fff; /* ここで矢印の色を指定 */
}