@use "../foundation" as *;

.worries.value {
  background-image: url(../images/common/value-bg.png);
  background-size: cover; /* 画像が常にコンテナを覆うように */

  @include mq("md") {
    background-image: url(../images/common/value-bg-sp.png);
  }
}

.worries__container.about-container {
  @include mq(md) {
    padding: 0 prem(40);
    margin-top: 30px;
  }
}

.p-about-container {
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
  background-color: #fff;
  overflow: hidden;
  @include mq("md") {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
  }
}

.p-about-flex {
  display: flex;
  &__inner {
    padding: prem(45) prem(15) prem(35);
  }

  @include mq(md) {
    flex-direction: column;
  }
}

.p-about__img--w40 {
  width: 40%;
  @include mq(md) {
    width: 100%;
  }
}

.p-about-value {
  &__container {
    display: flex;
    align-items: center;
    margin: prem(45) auto prem(35) auto;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;

    &:nth-child(2) {
      background-image: url("../images/common/about-bg.png");
    }

    &:nth-child(3) {
      background-image: url("../images/common/about-bg2.png");
    }

    &:nth-child(4) {
      background-image: url("../images/common/about-bg3.png");
    }
    @include mq("md") {
      &:nth-child(2) {
        background-image: url("../images/common/about-bg-sp.png");
      }

      &:nth-child(3) {
        background-image: url("../images/common/about-bg-sp2.png");
      }

      &:nth-child(4) {
        background-image: url("../images/common/about-bg-sp3.png");
      }
    }
  }

  &__content {
    max-width: 70%;
    min-height: 180px;
    margin: prem(16) 0;
    margin-left: auto;
    padding: prem(25) prem(160) prem(25) prem(200);
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    clip-path: polygon(16% 0, 100% 0%, 100% 100%, 0% 100%);

    @include mq(md) {
      max-width: 90%;
      margin-left: unset;
      padding: prem(160) prem(8) prem(40) prem(8);
      margin: prem(80) auto 0 auto;
      clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
    }
  }

  &__title {
    font-size: prem(30);
    font-weight: $regular;
    color: $red;
    border-bottom: 1px solid $color-black;
  }

  &__text {
    margin-top: prem(12);
  }
}

//反転用
.p-about-value__container:nth-child(3) .p-about-value__content {
  margin-left: 0;
  padding: prem(25) prem(200) prem(25) prem(160);
  clip-path: polygon(0 0, 84% 0, 100% 100%, 0% 100%);
  @include mq(md) {
    margin-left: unset;
    padding: prem(160) prem(8) prem(40) prem(8);
    margin: prem(80) auto 0 auto;
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
  }
}

.p-about-text {
  letter-spacing: 0.08em;
  font-size: prem(16);
  @include mq(md) {
    // margin-top: prem(15);
    font-size: prem(14);
  }
}

//連番用
.p-about-value__container:nth-child(2)::before,
.p-about-value__container:nth-child(3)::before,
.p-about-value__container:nth-child(4)::before {
  position: absolute;
  transform: translate(0, -50%);
  top: 60%;
  left: 26%;
  font-size: prem(120);
  z-index: 2;
  color: $red;
  font-weight: $medium;
  @include mq(md) {
    top: 26%;
    left: 6%;
  }
}

.p-about-value__container:nth-child(2)::before {
  content: "01.";
}

.p-about-value__container:nth-child(3)::before {
  content: "02.";
  top: 50%;
  left: 62%;

  @include mq(md) {
    top: 25%;
    left: 48%;
  }
}

.p-about-value__container:nth-child(4)::before {
  content: "03.";
  top: 50%;
  @include mq(md) {
    top: 25%;
  }
}
