@use "../foundation" as *;

.header {
  height: prem(136);
  background-color: transparent;
  @include mq("md") {
    height: prem(50);
  }
}

.header.is-scroll {
  height: prem(70);
  @include mq("md") {
    height: prem(50);
  }
}

.header__inner {
  padding: 0px prem(16) 0 prem(21);
  height: inherit;
  display: flex;
  justify-content: space-between;
  @include mq("md") {
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 0;
  }
}

.header__logo {
  max-width: prem(100);
  width: 100%;
  height: inherit;
  @include mq("md") {
    max-width: prem(74);
    height: prem(45);
  }
}

.header__logo a {
  height: inherit;
  display: flex;
  align-items: center;
}

// スクロール時にロゴ非表示
.header.is-scroll .header__logo-link {
  display: none;
}

.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__nav {
  display: block;
  height: inherit;
  @include mq("md") {
    display: none;
  }
}

.header__nav-list {
  display: flex;
  height: inherit;
  padding-top: 20px;
}

.header__nav-item {
  height: inherit;
}

.header__nav-item.header__nav-item--contact {
  margin-left: prem(15);
  display: flex;
  align-items: flex-start; /* flex-start に変更して、アイテムをコンテナの上部に配置 */
  height: inherit;
}

.header__nav-item a {
  padding: 10px prem(15);
  height: inherit;
  display: flex;
  align-items: start;
  font-size: prem(15);
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 1;
  color: $white;
}

.header__nav-item.header__nav-item--contact a {
  padding: prem(10) prem(40);
  position: relative;
  align-items: flex-start; /* flex-start に変更して、テキストをリンクの上部に配置 */
  height: initial; /* 初期値に設定して、自動的な高さ調整を無効に */
  color: #fff;
  background-color: $green;
}

.header__nav-item.header__nav-item--contact a::after {
  content: "";
  margin-left: prem(10);
  width: prem(11);
  height: prem(12);
  display: inline-block;
  background-image: url(./../images/common/contact-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header__hamburger {
  display: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  position: relative;
  z-index: 999;
  width: prem(40);
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
  @include mq("md") {
    display: block;
  }
}

.header__hamburger.news__contents-text {
  background-color: $red;
}

.header__hamburger.is-open {
  background-color: transparent;
}

.header__hamburger span {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: prem(30);
  height: 2px;
  background-color: #fff;
  transition: 0.5s;
}

.header__hamburger span:nth-of-type(1) {
  top: prem(-8);
}

.header__hamburger span:nth-of-type(2) {
  top: 0;
}

.header__hamburger span:nth-of-type(3) {
  top: prem(8);
}

.header__hamburger.is-open span:nth-of-type(1) {
  top: 0;
  transform: translateX(-50%) rotate(45deg);
}

.header__hamburger.is-open span:nth-of-type(2) {
  opacity: 0;
}

.header__hamburger.is-open span:nth-of-type(3) {
  top: prem(-4);
  transform: translateX(-50%) rotate(-45deg);
}

.header__drawer {
  padding: prem(228) 0;
  display: none;
  position: absolute;
  z-index: 900;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(25px);
  background-color: rgba(145, 145, 145, 0.8);
  overflow-y: scroll;
  scrollbar-width: none;
}

.header__drawer::-webkit-scrollbar {
  display: none;
}

.header__drawer-item a {
  padding: prem(15) prem(24);
  display: block;
  font-size: prem(16);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
  color: $black;
  // text-align: center;
  text-transform: uppercase;
}

.header__drawer-item:not(:last-child) {
  border-bottom: 1px solid $black;
  margin-bottom: 20px;
}

.header__drawer-item.header__drawer-item--contact {
  display: inline-block;
  text-align: center;
}
.header__drawer-item.header__drawer-item--contact a {
  color: $green;
}

// .header__drawer-item.header__drawer-item--contact a::after {
//   content: "";
//   // margin-bottom: prem(5);
//   margin-left: prem(20);
//   width: prem(15);
//   height: prem(15);
//   display: inline-block;
//   background-image: url(./../images/common/contact-icon.svg);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: contain;
// }

.js-header.is-scroll {
  background-color: $red; /* ここに希望の色を指定 */
}

.header-btn {
  margin-left: 50px;
  margin-top: 3px;
}

.header-btn a {
  display: inline-block;
  background-color: $green;
  color: $white;
  font-size: prem(16);
  font-weight: $regular;
  letter-spacing: 0.08em;
  padding: 5px 15px;
  box-shadow: 6.14px 6.58px 21px rgba(20, 29, 33, 0.29);
}
