@use "../foundation" as *;

.mv {
  position: relative;
  background-image: url(../images/common/mv-bg.png);
  background-size: cover; /* 画像が常にコンテナを覆うように */
  z-index: 1;
  height: 100%;
  min-height: prem(400);
}

.mv__inner {
  height: inherit;
  min-height: inherit;
}

.mv__title-wrap {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;
  text-align: center;
  @include mq("xl2") {
    left: 35%;
  }
  @include mq("md") {
    top: 46%;
    left: 37%;
    width: 70%;
    text-align: left;
  }
}

.mv__main-title {
  font-size: prem(100);
  font-weight: $bold;
  letter-spacing: 0.08em;
  @include mq(md) {
    font-size: prem(55);
    position: relative;
    // text-align: left;
  }
}

.mv__main-title span {
  color: $red;
}

.mv__img,
.mv__img img {
  height: auto;
  min-height: inherit;
  width: 100%;
}

.mv__img {
  padding: 75px 60px 50px 22%;
  position: relative; /* 擬似要素のための基準位置を設定 */
  z-index: 1; /* 背景に表示させるために、z-index を低く設定 */
  @include mq("md") {
    padding-right: 10px;
    padding-left: 60px;
    padding-bottom: 25px;
  }
}

.mv__img.news-mv,
.mv__img.company-mv,
.mv__img.message-mv
{
  @include mq("md") {
    padding-left: 0px;
  }
}

.mv__img::before {
  content: "";
  position: absolute;
  z-index: -1; /* 背景に表示させるために、z-index を低く設定 */
  top: 0; /* 位置は要調整 */
  right: 0; /* 位置は要調整 */
  width: 60%; /* 赤い四角の幅 */
  height: 100%; /* 赤い四角の高さ */
  background-color: $red; /* 赤色の背景 */
  // transform: translate(-50%, -50%);
}

.mv__img img {
  width: 100%;
  object-fit: cover;
}

.l-btn {
  color: $white;
  background-color: $green;
  font-size: prem(24);
  font-weight: $regular;
  letter-spacing: 0.08em;
  text-align: center;
  padding: prem(15) prem(90);
  box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.21);
  min-width: 50%;
  @include mq(md) {
    font-size: prem(20);
    padding: prem(15) prem(35);
    white-space: nowrap;
    max-width: 100%;
  }
}

// .mv-btn-sp {
//     position: relative;
//     bottom: 0;
//     left: 15%;
//     @include mq("sm1"){
//     left: 0%;
//     }
//     @include mq("sm"){
//     left: -5%;
//     }
// }

.mv-btn a {
  display: inline-block;
  background-color: $green;
  font-size: prem(24);
  font-weight: $regular;
  letter-spacing: 0.08em;
  padding: 15px 90px;
  box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.21);
  @include mq("md") {
    font-size: prem(16);
    margin-top: 5px;
    padding: 5px 20px !important;
    color: $white;
  }
}

.l-btn + .l-btn {
  min-width: 50%;
  margin-left: prem(16);
  @include mq(md) {
    margin-top: prem(24);
    margin-left: 0;
  }
}

.mv-btn--white {
  color: $red;
  background-color: $white;
}

.mv-btn--mark {
  position: relative;
}

.mv-btn--mark::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -40px;
  display: block;
  width: 80px;
  height: 80px;
  background-image: url("../images/common/mark.svg");
  background-size: cover;
  background-repeat: no-repeat;
  @include mq(md) {
    top: -100px;
    left: 0px;
    width: 110px;
    height: 110px;
    background-image: url("../images/common/mark-sp.png");
  }
}
