@use "../foundation" as *;

.news.news__contents {
  margin-top: 150px;
  @include mq("md"){
  margin-top: 50px;
  }
}

.news__contents-header::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 60%;
  height: 55%;
  background-color: #c40002;
}

.news__contents-title {
  color: $gray2;
  font-weight: $regular;
}

.news__list.news__contents-list {
  margin-top: 30px;
}

.news__contents-mv {
  padding-top: 150px;
  padding-bottom: 50px;
  @include mq("md"){
    padding-top: 70px;

  }
}

.news__contents-text-wrap {
  background-color: $gray;
}

.news-list__item.news__contents-text {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.news-list__item-date.news__contents-text{
  font-weight: $bold;
}
.news-list__item-title.news__contents-text{
  margin-top: 40px;
  margin-bottom: 50px;
  font-weight: $bold;
  @include mq("md"){
font-size: prem(32);
  }
}

.news-list__item-meta.news__contents-text {
  padding-top: 20px;
}

.news-list__item-category.news__contents-text {
  background-color: $black;
}

.news-contents__inner.inner {
  margin-top: 50px;
}

.news-contents__list {
  background-color: $white;
  padding: 30px;
  @include mq("md"){
    padding: 0;
  }
}

.news-contents-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq(md){
      display: block;
  }
}

.news-contents-list__item-text-wrap {
  width: 50%;
  margin-left: 50px;
  @include mq("md"){
    width: 100%;
    margin-left: 0px;
    padding: 10px;
  }
}

.news-contents-list__item-text:last-child {
  margin-top: 20px;
}