@use "../foundation" as *;

.header {
  height: prem(120);
  background-image: url("../images/common/h-bgi.png");
  @include mq("md") {
    height: prem(40);
  }
}

.header__inner {
  padding: 0 prem(50);
  height: inherit;
  display: flex;
  justify-content: space-between;
  @include mq("md") {
    padding: 0 prem(10);
  }
}

.header__logo {
  position: relative;
  max-width: prem(180);
  width: 100%;
  height: inherit;
  @include mq("md") {
    max-width: prem(74);
  }
}

.header__logo::after {
  content: "";
  display: block;
  max-width: prem(46); /* 擬似要素のコンテナの最大幅を調整 */
  max-height: prem(46); /* 擬似要素のコンテナの最大高さを調整 */
  width: 100%;
  height: 100%;
  background-image: url("../images/common/logo.png");
  background-size: cover; /* または contain によって要件に合わせて調整 */
  position: absolute;
  top: 50%;
  left: -5%;
  z-index: 1;

  @include mq("xl") {
    max-width: prem(40); /* 擬似要素のコンテナの最大幅を調整 */
    max-height: prem(40); /* 擬似要素のコンテナの最大高さを調整 */
  }
  @include mq("md") {
    max-width: prem(20); /* 擬似要素のコンテナの最大幅を調整 */
    max-height: prem(20); /* 擬似要素のコンテナの最大高さを調整 */
    top: 45%;
  }
}

.header__logo a {
  height: inherit;
  display: flex;
  align-items: center;
}

.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__nav {
  display: block;
  height: inherit;
  @include mq("md") {
    display: none;
  }
}

.header__nav-items {
  display: flex;
  height: inherit;
}

.header__nav-item {
  height: inherit;
}

.header__nav-item a {
  padding: 0 prem(25);
  height: inherit;
  display: flex;
  align-items: center;
  font-size: prem(27);
  font-weight: 400;
  line-height: 0.692;
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s;
}

.header__nav-item a.is-scroll {
  color: #fff;
}


.header__hamburger {
  display: none;
  @include mq("md") {
    display: block;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    position: relative;
    z-index: 999;
    width: prem(40);
    height: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
  }
}

.header__hamburger.is-open {
  background-color: transparent;
}

.header__hamburger.is-open span{
  background-color: #000;
}

.header__hamburger span {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: prem(15);
  height: 1px;
  background-color: #fff;
  transition: 0.5s;
}

.header__hamburger span:nth-of-type(1) {
  top: prem(-4);
}

.header__hamburger span:nth-of-type(2) {
  top: 0;
}

.header__hamburger span:nth-of-type(3) {
  top: prem(4);
}

.header__hamburger.is-open span:nth-of-type(1) {
  top: 0;
  transform: translateX(-50%) rotate(45deg);
}

.header__hamburger.is-open span:nth-of-type(2) {
  opacity: 0;
}

.header__hamburger.is-open span:nth-of-type(3) {
  top: prem(-2);
  transform: translateX(-50%) rotate(-45deg);
}

.header__drawer {
  padding: prem(40) prem(20);
  display: none;
  position: absolute;
  z-index: 900;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #f7f7f7, $alpha: 1.0);
  overflow-y: scroll;
  scrollbar-width: none;
}

.header__drawer__img {
  background-image: url(../images/common/bgi.png);
  display: flex;
  justify-content: center;
  align-items: center; /* 垂直中央配置も必要な場合に追加 */
  padding: 10px 0;
}

.header__drawer::-webkit-scrollbar {
  display: none;
}

.header__drawer-nav {
  margin-top: prem(50);
}

.header__drawer-item {
  line-height: 1.2;
}

.header__drawer-item a {
  padding: prem(15) 0;
  display: block;
  font-size: prem(20);
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

.header__drawer-item span {
display: block;
font-size: prem(12);
color: #a5a5a5;
}

.header__rv {
  margin-top: prem(50);
  border: 1px solid #7f7f7f;
}

.header__drawer-item.header__drawer-item--contact a::after {
  content: "";
  margin-bottom: prem(5);
  margin-left: prem(20);
  width: prem(15);
  height: prem(15);
  display: inline-block;
  background-image: url(./../images/common/contact-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
