@charset "UTF-8";
/*
 * 参考
 * https://github.com/Andy-set-studio/modern-css-reset/blob/master/src/reset.css
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*****************************************
 * 数値から単位を取り除く
 * 参考
 * https://css-tricks.com/snippets/sass/
******************************************/
/*****************************************
 * px→remの計算
 * 参考
 * https://webdou.net/sass-rem/
 * Sassではmath.div関数の使用が推奨のため、スラッシュ(/)演算子から変更
******************************************/
/*****************************************
 * vwの計算
 * 参考
 * https://webdou.net/sass-vw/
 * Sassではmath.div関数の使用が推奨のため、スラッシュ(/)演算子から変更
******************************************/
html {
  font-size: 16px;
}
@media (max-width: 1200px) {
  html {
    font-size: 1.3333333333vw;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  a:hover {
    opacity: 1;
  }
}

.md-show {
  display: none;
}

@media screen and (max-width: 768px) {
  .md-show {
    display: block;
  }
  .md-show.md-show1 {
    display: inline-block;
  }
  .md-none {
    display: none;
  }
}
.layout-header {
  position: fixed;
  z-index: 900;
  top: 0;
  right: 0;
  left: 0;
}

.inner {
  max-width: 62.5rem;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .inner {
    padding: 0 1.25rem 0px;
    max-width: 37.5rem;
  }
}

.mt-100 {
  margin-top: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-80 {
  padding-top: 80px;
}

.section-title-wrap {
  width: 100%;
}

.section-title-text {
  position: relative;
  display: block;
  width: 100%;
  background-color: #4ec2dd; /* タイトルの背景色 */
  border-radius: 20px; /* 丸みを持たせる */
  padding: 10px 20px; /* タイトルの内側余白 */
  text-align: center;
  font-size: 2rem; /* フォントサイズ */
  font-weight: bold;
  color: white; /* テキストの色 */
  font-family: "M PLUS Rounded 1c", sans-serif;
}
@media screen and (max-width: 767px) {
  .section-title-text {
    font-size: 1.5rem; /* フォントサイズ */
  }
}

.section-title-text::after {
  content: "";
  position: absolute;
  bottom: -30px; /* 下に突き出す */
  left: 50%; /* 中央揃え */
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 20px solid transparent; /* 左の三角部分を透明に */
  border-right: 20px solid transparent; /* 右の三角部分を透明に */
  border-top: 30px solid #4ec2dd; /* 三角部分の色 */
}
@media screen and (max-width: 767px) {
  .section-title-text::after {
    bottom: -15px; /* 下に突き出す */
  }
}

/* 全体のスタイル */
.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4ec2dd; /* 背景色 (青) */
  padding: 50px;
}
@media screen and (max-width: 767px) {
  .cta-container {
    padding: 40px 30px;
  }
}

/* 上部のテキスト */
.cta-text {
  color: #ffffff; /* 白文字 */
  font-size: 1.5rem;
  font-weight: bold; /* 太字 */
  text-align: center; /* 中央揃え */
  margin-bottom: 15px; /* ボタンとの間隔 */
  display: flex;
  align-items: center;
  gap: 10px; /* テキストと点線の間隔 */
  font-family: "M PLUS Rounded 1c", sans-serif;
  position: relative;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 767px) {
  .cta-text {
    font-size: 1.25rem;
  }
}

/* 点線 */
.cta-text::before,
.cta-text::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 2.5rem;
  border-top: 4px dotted #fff;
}

.cta-text::before {
  left: -1.75rem;
  transform: translateY(-50%) rotate(55deg);
}

.cta-text::after {
  right: -1.75rem;
  transform: translateY(-50%) rotate(-55deg);
}

/* ボタン */
.cta-button {
  max-width: 31.25rem;
}

.cta-button img {
  width: 100%; /* ボタン画像の幅 (必要に応じて調整) */
  height: auto; /* アスペクト比を維持 */
}

.header {
  height: 4.375rem;
  background-color: #4ec2dd;
}
@media screen and (max-width: 767px) {
  .header {
    height: 2.5rem;
  }
}

.header__inner {
  padding: 0 1.5625rem;
  height: inherit;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .header__inner {
    padding: 0 0.9375rem;
  }
}

.header__logo {
  max-width: 6.875rem;
  width: 100%;
  height: inherit;
}
@media screen and (max-width: 767px) {
  .header__logo {
    max-width: 4.625rem;
  }
}

.header__logo a {
  height: inherit;
  display: flex;
  align-items: center;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__nav {
  display: block;
  height: inherit;
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__nav-list {
  display: flex;
  height: inherit;
}

.header__nav-item {
  height: inherit;
}

.header__nav-item span {
  margin-top: 0.125rem;
  display: block;
  font-size: 0.625rem;
}

.header__nav-item.header__nav-item--contact {
  margin-left: 0.9375rem;
  display: flex;
  align-items: center;
}

.header__nav-item a {
  padding: 0 0.9375rem;
  height: inherit;
  display: flex;
  align-items: center;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.header__nav-item:nth-of-type(2) a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* 上部に寄せる */
  line-height: 1.2; /* 行間を調整して均一化 */
  margin-top: 0.4375rem; /* 不要な余白をリセット */
  padding: 0 0.9375rem;
}

.header__drawer-item:nth-of-type(2) a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* 上部に寄せる */
  line-height: 1.2; /* 行間を調整して均一化 */
  margin-top: 0.625rem; /* 不要な余白をリセット */
  padding: 0; /* パディングをリセット */
}

.header__nav-item.header__nav-item--contact a {
  padding: 0rem;
  position: relative;
  height: initial;
  color: #fff;
}

.header__nav-item--contact img {
  max-width: 160px;
  width: 100%; /* 必要に応じてサイズを調整 */
  height: auto; /* アスペクト比を保持 */
}

.header__hamburger {
  display: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  position: relative;
  z-index: 999;
  width: 2.5rem;
  height: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}
@media screen and (max-width: 767px) {
  .header__hamburger {
    display: block;
  }
}

.header__hamburger.is-open {
  background-color: transparent;
}

.header__hamburger span {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 1.5625rem;
  height: 2px;
  background-color: #fff;
  transition: 0.5s;
}

.header__hamburger span:nth-of-type(1) {
  top: -0.375rem;
}

.header__hamburger span:nth-of-type(2) {
  top: 0;
}

.header__hamburger span:nth-of-type(3) {
  top: 0.375rem;
}

.header__hamburger.is-open span:nth-of-type(1) {
  top: 3%;
  transform: translateX(-50%) rotate(45deg);
}

.header__hamburger.is-open span:nth-of-type(2) {
  opacity: 0;
}

.header__hamburger.is-open span:nth-of-type(3) {
  top: -0.125rem;
  transform: translateX(-50%) rotate(-45deg);
}

.header__drawer {
  padding: 14.25rem 0;
  display: none;
  position: absolute;
  z-index: 900;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(98, 58, 20, 0.95);
  overflow-y: scroll;
  scrollbar-width: none;
}

.header__drawer::-webkit-scrollbar {
  display: none;
}

.header__drawer-item a {
  padding: 0.9375rem 0;
  display: block;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.header__drawer-item.header__drawer-item--contact a::after {
  content: "";
  margin-bottom: 0.3125rem;
  margin-left: 1.25rem;
  width: 0.9375rem;
  height: 0.9375rem;
  display: inline-block;
  background-image: url(./../images/common/contact-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header__btn-sp {
  background-color: #fff;
}

.button-container {
  display: flex;
  gap: 0.625rem; /* ボタン間の間隔 */
  justify-content: center; /* 中央揃え */
  align-items: center; /* 縦揃え */
  padding: 8px 10px;
}

.mv {
  margin-top: 4.375rem;
}
@media screen and (max-width: 767px) {
  .mv {
    margin-top: 5.9375rem;
  }
}

.mv-container {
  background-image: url("../images/common/mv-bg-pc.png"); /* 背景画像の指定 */
  background-repeat: no-repeat; /* 繰り返しなし */
  background-size: cover; /* 要素全体にフィット */
  background-position: center; /* 中央に配置 */
}
@media screen and (max-width: 767px) {
  .mv-container {
    background-image: url("../images/common/mv-bg-sp.png"); /* 背景画像の指定 */
    background-color: #cfe0fa;
  }
}

.mv__title-wrap {
  width: 52.5%;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  padding-left: 1.5rem;
}
@media screen and (max-width: 767px) {
  .mv__title-wrap {
    width: 100%;
    padding-top: 8.75rem;
    padding-bottom: 8.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

.mv__title-wrap img {
  width: 100%;
}

.striped-pattern {
  width: 100%; /* 必要な幅を指定 */
  height: 1.5rem; /* 必要な高さを指定 */
  background: repeating-linear-gradient(135deg, #4ec2dd, #4ec2dd 8px, white 8px, white 16px);
}
@media screen and (max-width: 767px) {
  .striped-pattern {
    height: 1rem; /* 必要な高さを指定 */
    background: repeating-linear-gradient(135deg, #4ec2dd, #4ec2dd 6px, white 6px, white 12px);
  }
}

.mv-container.school-mv {
  background-image: url("../images/common/schoollist-mv-pc.png"); /* 背景画像の指定 */
  background-repeat: no-repeat; /* 繰り返しなし */
  background-size: cover; /* 要素全体にフィット */
  background-position: center; /* 中央に配置 */
}
@media screen and (max-width: 767px) {
  .mv-container.school-mv {
    background-image: url("../images/common/schoollist-mv-sp.png"); /* 背景画像の指定 */
    background-color: #cfe0fa;
  }
}

.mv__title-wrap.school-mv {
  width: 40%;
  padding-top: 9.375rem;
  padding-bottom: 9.375rem;
  padding-left: 9.375rem;
}
@media screen and (max-width: 767px) {
  .mv__title-wrap.school-mv {
    width: 100%;
    padding-top: 1.875rem;
    padding-bottom: 20rem;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
  }
}

.recommend {
  margin-top: 1.5rem;
}
@media screen and (max-width: 767px) {
  .recommend {
    margin-top: 1rem;
  }
}

.recommend__inner {
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}
@media screen and (max-width: 767px) {
  .recommend__inner {
    margin-left: 1.5625rem;
    margin-right: 1.5625rem;
  }
}

.recommend__title {
  position: relative;
  text-align: center;
}

.recommend__title::after {
  content: "";
  position: absolute;
  top: 60%; /* 垂直中央揃え */
  transform: translateY(-50%); /* 中央揃えの微調整 */
  right: 34%; /* テキストとの距離を調整 */
  width: 4.0625rem; /* 画像の幅 */
  height: 4.0625rem; /* 画像の高さ */
  background-image: url("../images/common/megaphone.png"); /* 画像のパスを指定 */
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1199px) {
  .recommend__title::after {
    right: 32%; /* テキストとの距離を調整 */
  }
}
@media screen and (max-width: 767px) {
  .recommend__title::after {
    right: 11%; /* テキストとの距離を調整 */
    width: 3.125rem; /* 画像の幅 */
    height: 3.125rem; /* 画像の高さ */
  }
}
@media screen and (max-width: 399px) {
  .recommend__title::after {
    right: 8%; /* テキストとの距離を調整 */
  }
}

.recommend__title h2 {
  color: #4ec2dd;
  font-size: 2rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
@media screen and (max-width: 767px) {
  .recommend__title h2 {
    font-size: 1.5rem;
  }
}

.recommend__top {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 767px) {
  .recommend__top {
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
  }
}

.service-slick {
  position: relative;
}

.service-slick__wrap.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.service-slick__img {
  margin: 0 0.3125rem;
}

.service-slick__img img {
  width: 100%;
  aspect-ratio: 300/180;
  -o-object-fit: cover;
     object-fit: cover;
}

.service-slick .slick-dots li button:before {
  opacity: 1;
  color: #d4e7ed;
}

.service-slick .slick-dots li.slick-active button:before {
  color: #52bcde;
}

.top-concept {
  background-color: #f9f9f9; /* 背景色 */
  background-image: linear-gradient(to right, rgba(121, 121, 121, 0.1) 1px, transparent 1px), linear-gradient(to bottom, rgba(129, 129, 129, 0.1) 1px, transparent 1px);
  background-size: 20px 20px; /* グリッドのサイズ */
}

.top-concept__inner {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .top-concept__inner {
    padding-top: 40px;
  }
}

.top-concept__text {
  margin-top: 50px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .top-concept__text {
    margin-top: 30px;
    text-align: start;
  }
}

.top-concept__title {
  position: relative;
}

.top-concept__title::after {
  content: "";
  position: absolute;
  top: 60%; /* 垂直中央揃え */
  transform: translateY(-50%); /* 中央揃えの微調整 */
  right: 13%; /* テキストとの距離を調整 */
  width: 7.5rem; /* 画像の幅 */
  height: 7.5rem; /* 画像の高さ */
  background-image: url("../images/common/green-dinosaur.png"); /* 画像のパスを指定 */
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1199px) {
  .top-concept__title::after {
    right: 13%; /* テキストとの距離を調整 */
  }
}
@media screen and (max-width: 767px) {
  .top-concept__title::after {
    right: 2%; /* テキストとの距離を調整 */
    width: 4.375rem; /* 画像の幅 */
    height: 4.375rem; /* 画像の高さ */
  }
}
@media screen and (max-width: 399px) {
  .top-concept__title::after {
    right: -4%; /* テキストとの距離を調整 */
  }
}

.top-concept__img {
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .top-concept__img {
    margin-top: 24px;
  }
}

.top-concept__img-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4列にする */
  row-gap: 20px; /* 画像の上下間隔を設定 */
  -moz-column-gap: 10px;
       column-gap: 10px; /* 必要に応じて左右の間隔を設定 */
  list-style: none; /* リストのデフォルトスタイルを無効化 */
  padding: 0; /* 内側余白をリセット */
  margin: 0; /* 外側余白をリセット */
}
@media screen and (max-width: 767px) {
  .top-concept__img-grid {
    grid-template-columns: repeat(2, 1fr); /* 4列にする */
  }
}

.top-concept__img-grid li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px; /* 角を丸くする */
  box-shadow: 5.03px 6.22px 0 rgba(78, 194, 221, 0.23); /* ドロップシャドウ */
  overflow: hidden; /* 画像が枠からはみ出さないようにする */
}
@media screen and (max-width: 767px) {
  .top-concept__img-grid li {
    z-index: 1;
  }
}

.top-concept__img-grid img {
  width: 100%;
  height: auto;
  display: block;
}

/* 装飾画像の位置調整 */
/* 装飾画像の位置調整 */
.decorations {
  position: relative;
}

.decoration {
  position: absolute;
  width: 42px; /* 装飾画像サイズ */
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
}

.decoration.decoration-2 {
  position: absolute;
  width: 64px; /* 装飾画像サイズ */
  height: 40px;
}

.decoration.decoration-4 {
  position: absolute;
  width: 64px; /* 装飾画像サイズ */
  height: 60px;
}

/* 各装飾画像の位置 */
.decoration-1 {
  top: -31.25rem; /* 親要素の高さの5% */
  left: 33%; /* 親要素の幅の5% */
  background-image: url("../images/common/star.png"); /* 星の画像 */
}
@media screen and (max-width: 767px) {
  .decoration-1 {
    left: 85%; /* 親要素の幅の5% */
    top: -24.25rem; /* 親要素の高さの5% */
  }
}

.decoration-2 {
  top: -31.875rem; /* 親要素の高さの5% */
  right: -20px;
  background-image: url("../images/common/line.png"); /* 線の画像 */
}
@media screen and (max-width: 767px) {
  .decoration-2 {
    right: 40%;
    top: -35.5rem; /* 親要素の高さの5% */
    transform: rotate(120deg); /* 時計回りに45度回転 */
  }
}

.decoration-3 {
  top: -0.75rem;
  left: -20px;
  background-image: url("../images/common/dott.png"); /* 音符の画像 */
}
@media screen and (max-width: 767px) {
  .decoration-3 {
    left: 8px; /* 親要素の幅の5% */
    top: 0.25rem; /* 親要素の高さの5% */
  }
}

.decoration-4 {
  bottom: -20px;
  right: 21%;
  background-image: url("../images/common/note.png"); /* 別の音符画像 */
}
@media screen and (max-width: 767px) {
  .decoration-4 {
    bottom: 163px;
    right: 52%;
  }
}

/* 親セクション */
.info-section {
  background-color: #f2fdff; /* 背景色 */
  padding: 80px 0px; /* セクション全体の余白 */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px; /* 各ブロックの間隔 */
}
@media screen and (max-width: 767px) {
  .info-section {
    padding: 50px 0px; /* セクション全体の余白 */
  }
}

/* 各ブロックの設定 */
.info-block {
  display: flex;
  align-items: center;
  gap: 40px; /* 画像とテキストの間隔 */
}
@media screen and (max-width: 767px) {
  .info-block {
    flex-direction: column;
    align-items: center;
    gap: 30px; /* 画像とテキストの間隔 */
  }
}

/* 画像部分 */
.info-image {
  box-shadow: 5.03px 6.22px 0 rgba(78, 194, 221, 0.23); /* ドロップシャドウ */
  border-radius: 40px;
  overflow: hidden; /* 画像が枠からはみ出さないようにする */
}

.info-image img {
  width: 100%;
  height: auto;
}

/* テキスト部分 */
.info-text {
  flex: 1; /* テキスト部分を幅いっぱいに広げる */
}

.info-title {
  color: #4ec2dd; /* タイトルの色 */
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
@media screen and (max-width: 767px) {
  .info-title {
    font-size: 1.25rem;
  }
}

/* ボタン部分 */
.info-button-wrap {
  text-align: center;
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .info-button-wrap {
    margin-top: 0px;
  }
}

.course {
  background-image: radial-gradient(circle, #f5f5f5 2px, transparent 2px);
  background-size: 15px 15px;
  position: relative;
  padding-bottom: 100px;
}

.course::before {
  content: "";
  position: absolute;
  top: 0%; /* 垂直中央揃え */
  right: 0%; /* テキストとの距離を調整 */
  width: 100%; /* 画像の幅 */
  height: 2.25rem; /* 画像の高さ */
  background-image: url("../images/common/colorfulframe-top.png"); /* 画像のパスを指定 */
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .course::before {
    background-image: url("../images/common/colorfulframe-top-sp.png"); /* 画像のパスを指定 */
  }
}

.course::after {
  content: "";
  position: absolute;
  bottom: -2%; /* 垂直中央揃え */
  right: 0%; /* テキストとの距離を調整 */
  width: 100%; /* 画像の幅 */
  height: 2.25rem; /* 画像の高さ */
  background-image: url("../images/common/colorfulframe-bottom.png"); /* 画像のパスを指定 */
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .course::after {
    background-image: url("../images/common/colorfulframe-bottom-sp.png"); /* 画像のパスを指定 */
    bottom: -0.8%; /* 垂直中央揃え */
  }
}

.course__title {
  padding-top: 50px;
  display: flex; /* フレックスボックスで中央揃え */
  justify-content: center; /* 水平方向の中央揃え */
}

.course__title img {
  max-width: 100%; /* 親要素を超えないようにする（省略可） */
  height: auto; /* アスペクト比を維持する */
  width: 31.25rem; /* 画像の幅を明示的に設定（任意の値） */
}

/* 新しいコンテンツのラッパー */
.course__content {
  display: flex; /* 横並びに配置 */
  justify-content: space-between;
  gap: 20px; /* カード間の余白 */
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .course__content {
    gap: 80px; /* カード間の余白 */
    margin-top: 80px;
  }
}

/* 各カード */
.course-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 29px;
  padding: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  flex: 1;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.course-card--orange {
  background-color: #fff7f0;
  box-shadow: 7.07px 7.07px 0 rgba(255, 120, 0, 0.35); /* 35%の透明度を適用 */
  position: relative;
}

.course-card--red {
  background-color: #fff7f7;
  box-shadow: 7.07px 7.07px 0 rgba(245, 73, 73, 0.35); /* 35%の透明度を適用 */
  position: relative;
}

.course-card--green {
  background-color: #fafff1;
  box-shadow: 7.07px 7.07px 0 rgba(144, 203, 40, 0.35); /* 35%の透明度 */
  position: relative;
}

.course-card--orange::before {
  content: "";
  position: absolute;
  top: -4%; /* 垂直位置を固定 */
  left: 50%; /* 水平中央揃え */
  width: 3.75rem; /* 画像の幅 */
  height: 3.75rem; /* 画像の高さ */
  background-image: url("../images/common/og-parts.png"); /* 画像のパスを指定 */
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(-50%); /* 水平方向の中央揃え */
}

.course-card--red::before {
  content: "";
  position: absolute;
  top: -4%; /* 垂直位置を固定 */
  left: 50%; /* 水平中央揃え */
  width: 3.75rem; /* 画像の幅 */
  height: 3.75rem; /* 画像の高さ */
  background-image: url("../images/common/red-parts.png"); /* 画像のパスを指定 */
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(-50%); /* 水平方向の中央揃え */
}
@media screen and (max-width: 767px) {
  .course-card--red::before {
    background-image: url("../images/common/red-parts-sp.png"); /* 画像のパスを指定 */
  }
}

.course-card--green::before {
  content: "";
  position: absolute;
  top: -4%; /* 垂直位置を固定 */
  left: 50%; /* 水平中央揃え */
  width: 3.75rem; /* 画像の幅 */
  height: 3.75rem; /* 画像の高さ */
  background-image: url("../images/common/green-parts.png"); /* 画像のパスを指定 */
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateX(-50%); /* 水平方向の中央揃え */
}

@media screen and (max-width: 767px) {
  .course-card--orange::before,
.course-card--red::before,
.course-card--green::before {
    top: -8%; /* 垂直位置を固定 */
    width: 5.625rem; /* 画像の幅 */
    height: 5.625rem; /* 画像の高さ */
  }
}

/* カードのタイトル */
.course-card__title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px; /* テキストと点線の間隔 */
  display: inline-block; /* テキスト幅に合わせて点線を表示 */
}

.course-card__title--orange {
  color: #ff8c00; /* オレンジ色 */
  border-bottom: 4px dotted #ff8c00; /* 下線を点線に */
}

.course-card__title--red {
  color: #f54949;
  border-bottom: 4px dotted #f54949; /* 下線を点線に */
}

.course-card__title--green {
  color: #90cb28;
  border-bottom: 4px dotted #90cb28; /* 下線を点線に */
}

/* 画像 */
.course-card__image {
  text-align: center;
  margin-bottom: 20px;
}

.course-card__image img {
  width: 100%;
  height: auto;
  border-radius: 14px;
}

/* 説明文 */
.course-card__description {
  margin-bottom: 20px;
  text-align: justify;
}

.course-card__description--orange,
.course-card__description--red {
  margin-bottom: 44px;
}
@media screen and (max-width: 767px) {
  .course-card__description--orange,
.course-card__description--red {
    margin-bottom: 20px;
  }
}

/* ボタン */
.course-card__button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

/* 色ごとのボタン */
/* レスポンシブ対応 */
@media (max-width: 768px) {
  .course__content {
    flex-direction: column; /* 縦並びに変更 */
  }
}
.school {
  background: repeating-linear-gradient(-45deg, #f2fdff, #f2fdff 5px, #ffffff 5px, #ffffff 10px);
}

.school__inner {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .school__inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.school__title {
  position: relative;
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .school__title {
    margin-bottom: 50px;
  }
}

.school__title::after {
  content: "";
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  right: 13%;
  width: 7.5rem;
  height: 7.5rem;
  background-image: url(../images/common/blue-dinosaur.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .school__title::after {
    right: 0%;
    width: 5rem;
    height: 5rem;
  }
}

/* スクールリスト */
.school-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .school-list {
    flex-direction: column; /* 縦並びに変更 */
    align-items: center; /* 中央揃え */
    gap: 40px; /* 縦方向の間隔を調整 */
  }
}

.school-item {
  text-align: center;
  width: 100%;
}

.school-item__image {
  width: 100%; /* グレー画像の幅 */
  height: auto; /* アスペクト比維持 */
  margin-bottom: 20px;
  border-radius: 40px;
  box-shadow: 5.03px 6.22px 0 rgba(78, 194, 221, 0.23);
}

.school-item__name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4ec2dd;
  text-decoration: none;
  position: relative;
}

.school-item__name::after {
  content: "";
  display: block;
  width: 40%;
  height: 1px;
  margin: 5px auto 0;
  border-bottom: 4px dotted #4ec2dd;
}

/* ボタン */
.school-detail-button {
  text-align: center;
  max-width: 28.125rem;
}

.detail-button {
  text-align: center;
}

.detail-button img {
  width: 100%; /* ボタン画像の幅 */
  height: auto; /* アスペクト比維持 */
}

.text {
  line-height: 1.833;
  color: #000;
}
@media screen and (max-width: 767px) {
  .text {
    font-size: 0.875rem;
    line-height: 1.6;
  }
}

.footer__inner img {
  background-color: #4ec2dd;
}

.footer__inner img {
  background-color: #4ec2dd;
}
/*# sourceMappingURL=style.css.map */